<div class="jumbotron">
  <h2>Welcome to JukeLife</h2>
  <p class="lead">
    A really simple Youtube-based jukebox app that you can share w/ your friends.
    Listen to/watch the same videos at the same time. Everyone can make selections.
  </p>
</div>
